#AddSignInformation_wrap{
    position: relative;
    top: -25px;
    width: 100%;
    height: 100%;
    background-color: #000;
}

#backGroundImage1{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 500px;
}

#AddSignArea{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    margin-bottom: 100px;
    border: 1px solid #000;
    border-radius: 30px;
    overflow: hidden;
    border: 10px solid #fff;
}

#AddSign_leftSide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 40%;
    height: 100%;
    background-color: rgba(151, 186, 186);
}

#AddSign_rightSide{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 60%;
    height: 100%;
    background-color: #fff;
}

#AddSign_HeadText{
    position: absolute;
    left: 30px;
    top: 30px;
    font-size: 25px;
    color: #fff;
    font-weight: bold;
}

#AddSign_SubText{
    position: absolute;
    left: 30px;
    top: 280px;
    font-size: 20px;
    color: #fff;

}

#AddSign_rightSide> #userInputAddInfo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 80%;
    overflow: hidden;
}

#headTextInAddInfo{
    font-weight: bold;
    font-size: 34px;
    margin-bottom: 20px;
    height: 10%;
}

#AddInfoInputArea{
    width: 100%;
    height: 90%;
}

#PostCodeArea{
    position: relative;
}

#PostCodeArea button{
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 30px;
    background-color: #BFDADA;
    cursor: pointer;
    border: 1px solid #eaeaea;
    border-radius: 1px;
}

#SubmitUserInfo{
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #BFDADA;
    font-weight: bold;
    cursor: pointer;
}

#AddInfoInputArea .InputUserInfo{
    width: 100%;
    height: 40px;
    background-color: unset;
    border-bottom:1px solid #ddd;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;

    margin: 20px 10px 0px 0px;
    box-sizing: border-box;
    padding: 0px 20px 0px 20px;
    outline: none;
}

#DaumPostCodeArea{
    background : #fff;
    position : fixed;
    left:50%;
    top:50%;
    height:500px;
    width:450px !important;
    transform: translate(-50%, -50%);
    border: 1px solid #ddd;
    border-radius: 3px;
}

#DaumPostColseBtn{
    position: absolute;
    right: 25px;
    top: 20px;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    cursor: pointer;
    text-align: center;
}

.postmodal{
    background : rgba(0,0,0,0.25);
    position : fixed;
    left:50%;
    top:50%;
    height:600px;
    width:400px !important;
    transform: translate(-50%, -50%);
}

#leftWaterImage{
    position: absolute;
    left: 0px;
    bottom: -8px;
}